<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Айсберг</title>
</head>
<style>
    body{
        background: url(/images/айс.jpg);
        background-repeat:no-repeat;
        background-size:cover;  
        }
</style>
<body >
    <body>
        <h1 style="color: #ca3951; text-align:center;"><font style="color: #071313">Кинотеатр</font> Айсберг</h1>
        <div><a th:href="@{/listFilms}" style="font-family:Monotype Corsiva;color:#71f009;font-size:45px">Список фильмов</a>
        </div>
        <div style="padding: 20px; margin: 50px;"> </div>
        <div><a th:href="@{/sheduleAdd}" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:#f5ee16;font-size:25px">Составить Расписание</a></div>
        <div style="padding: 20px; margin: 50px;"> </div>       
        <div style="border:solid; border-style:dashed; width: fit-content; margin: 30px; padding: 30px;">
        <p style="text-align: center; text-decoration: underline;">Оформление билета<p> 
                <form action="#"  th:action="@{/cinema}" th:object="${ticket}" method="post">
                    <!-- film -->
                    <p>
                        <label>Фильм: <input type="text" th:field="*{film}" style="background-color: coral; width: 144px;"/></label>
                        <label th:if="${#fields.hasErrors('film')}" th:errors="*{film}" style="color: red; font-weight: 900;"/>
                    </p>

                    <!-- seat -->
                    <p>
                        <label style="padding-left: 2px;">Место: <input type="number" th:field="*{seat}" style="background-color: coral; width: 144px;"/></label>
                        <label th:if="${#fields.hasErrors('seat')}" th:errors="*{seat}" style="color: red; font-weight: 900;"/>
                    </p>

                    <!-- row -->
                    <p>
                        <label style="padding-left: 22px;">Ряд: <input type="number" th:field="*{row}" style="background-color: coral; width: 144px;"/></label>
                        <label th:if="${#fields.hasErrors('row')}" th:errors="*{row}" style="color: red; font-weight: 900;"/>
                    </p>

                    <!-- hall -->
                    <p>
                        <label style="padding-left: 22px;">Зал: 
                        <select style="background-color: coral; width: 150px;" th:field="*{hall}">
                            <option th:value="''" selected/>
                            <option th:value="'Зелёный'" th:text="Зелёный"/>
                            <option th:value="'Красный'" th:text="Красный"/>
                            <option th:value="'Синий'" th:text="Синий"/>
                            <option th:value="'Жёлтый'" th:text="Жёлтый"/>
                            <option th:value="'Детский'" th:text="Детский"/>
                          </select>
                        <label th:if="${#fields.hasErrors('hall')}" th:errors="*{hall}" style="color: red; font-weight: 900;"/>
                    </p>
                    <p><input type="submit" value="Отправить" style="background-color: rgb(210, 5, 237);"/> <input type="Reset" value="Стереть всё" style="background-color: rgba(241, 122, 10, 0.932);"/></p>
                </form>
        </div>        
    </body>
</body>
</html>