<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор фильма</title>
</head>
<style>
    body{
        background: url(/images/айс2.jpg);
        background-repeat:no-repeat;
        background-size:cover;  
        }
</style>
<body>
    <h1 style="text-align:center; color: #f40925; font-style: italic;">Фильмы:</h1>
    <h2 style="text-align:center; color: #9b7503;">Выживший</h2>
    <h2 style="text-align:center; color: #9b7503;">1+1</h2>
    <h2 style="text-align:center; color: #9b7503;">Джентльмены</h2>
    <h2 style="text-align:center; color: #9b7503;">Марсианин</h2>
    <h2 style="text-align:center; color: #9b7503;">Форсаж 7</h2>
    <h2 style="text-align:center; color: #9b7503;">Зеленая миля</h2>
    <h2 style="text-align:center; color: #9b7503;">Области тьмы</h2>
    <h2 style="text-align:center; color: #9b7503;">Варкрафт</h2>
    <button style="width: 120px; height: 40px; background-color: rgb(134, 28, 234);margin-left: 40%;"><a th:href="@{/cinema}" style=" color: rgb(191, 241, 13);"/a>Назад</button>
</body>
</html>