<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание</title>
</head>
<body>
    <h1>Внести</h1>
    <form  th:action="@{/sheduleAdd}" th:object="${sheduleForm}" method="post">
        <label>Фильм-</label><input type="text" th:field="*{movie}"></label>
        <label>Время-</label><input type="text" th:field="*{startShaw}">
        <label>Формат-</label><input type="text" th:field="*{format}">
        <label>Цена-</label><input type="text" th:field="*{minPrice}">
        <br>
        <br>
        <input type="button" value="Добавить">
        <input type="reset" value="Удалить">
    </form>
</body>
</html>